@import '../../sass/index.scss';

.about-me {
  // border: 1px solid red;

  padding-inline: 3rem;
  padding-top: 7rem;

  // &__container {
  //   // width: 100%;
  // }


  &__header__container {
    display: flex;
    align-items: center;
  }

  .header--number {
    @include header__number;
  }

  &__header {
    @include header;
  }

  .header--line {
    @include header__line;
  }

  p {
    @include paragraph;
  }

  &__left {

    margin-right: 2.5rem;
    text-align: justify;


    span {
      color: $color_secondary;
    }

  }

  &__picture__container {
    max-width: 35%;
    height: fit-content;

  }

  .my-picture {
    width: 110%;
    height: auto;

  }


  &__content__container {
    display: flex;
  }

  .about-me__tech-list {
    display: flex;
    font-family: $font_secondary;
    color: $color_quaternary;
    font-size: 0.85rem;

    gap: 7%;

    .tech-list__bullet {
      display: flex;
      align-items: center;

      margin-bottom: 0.75rem;
    }

    .bullet--icon {
      color: $color_secondary;
      margin-right: 0.5rem;
    }
  }

}


@media (max-width: 800px) {
  .about-me {
    // border: 1px solid red;
    padding-inline: 2.5rem;


    &__content__container {
      display: flex;
      flex-direction: column;
    }

    &__left {

      margin-right: 0rem;


      span {
        color: $color_secondary;
      }

    }

    &__picture__container {
      max-width: 55%;

      margin-inline: auto;
      margin-block: 3rem;

    }

    .my-picture {
      width: 100%;
    }

  }


}

@media (max-width: 768px) {
  .about-me {
    // border: 1px solid red;
    padding-inline: 0rem;
  }
}

// @media (max-width:375px) {
@media (max-width:500px) {
  .about-me {
    // border: 1px solid red;

    .header--line {
      @include header__line;
      margin-left: .75rem;
    }

    .header--number {
      font-size: 1.1rem;
    }

    &__header {
      font-size: 1.4rem;
    }

    p {
      font-size: 0.938rem;
      line-height: normal;
    }

    &__picture__container {
      max-width: 75%;
    }

    .about-me__tech-list {
      font-size: 0.75rem;
    }
  }
}