// $color_primary: #0A192F;
// $color_secondary: #64ffda;
// $color_tertiary: #ccd6f6;
// $color_quaternary: #8892b0;
// $color_quinary: hsla(216, 65%, 11%, 0.8);
// $color_button: #112240;
// $color_line: #233554;

// $color_primary: #2C3333;
// $color_secondary: #64ffda;
// $color_tertiary: #CBE4DE;
// $color_quaternary: #6e857f;
// $color_quinary: #363f3fa6;
// $color_button: #3c4444;
// $color_line: #4e5c5c;

// ------------

// $color_primary: #222831;
// $color_secondary: #FFD369;
// $color_tertiary: #EEEEEE;
// $color_quaternary: #a1a1a1;
// $color_quinary: #222831b4;
// $color_button: #42474e;
// $color_line: #42474e;

// $color_btn-border: #42474e;

// ------------

$color_primary: #e2eeec;
$color_secondary: #358c7b;
$color_tertiary: #1a3236;
$color_quaternary: #1a3236;
$color_quinary: #e2eeec6b;
$color_button: #c2dbd7;
$color_line: #beced1;

$color_btn-border: #beced1;

// ------------

// $color_primary: #e5e5e5;
// // $color_secondary: #2b9610;
// $color_secondary: #17996e;
// $color_tertiary: #29282b;
// $color_quaternary: #29282b;
// $color_quinary: #e2eeec;
// $color_button: #cfe0de;
// $color_line: #42474e;

// $color_btn-border: #42474e;