@mixin header__line {
  // width: 30%;
  width: 100%;
  height: 1px;
  background-color: $color_line;
  // margin-inline: 1.75rem;
  margin-left: 1.75rem;
  flex: 1;
}

@mixin header {
  color: $color_tertiary;
  font-size: 2rem;
  font-weight: 600;
}

@mixin paragraph {
  font-size: 1rem;
  font-weight: 400;
  color: $color_quaternary;
  line-height: 1.625rem;
}

@mixin header__number {
  font-family: $font_secondary;
  color: $color_secondary;
  font-size: 1.75rem;
  font-weight: 500;
}

@mixin btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  color: $color_secondary;

  font-family: $font_secondary;
  font-size: 0.875rem;

  border: 1px solid $color_secondary;

  padding-block: 1.2rem;
  border-radius: 0.3rem;

  cursor: pointer;

}

@mixin btn_hover {
  background-color: #64ffdb15;
}