@import '../../sass/index.scss';


.contact {

  max-width: 37.5rem;
  margin-inline: auto;
  padding-top: 10rem;
  padding-bottom: 10rem;


  &__container {
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;

    .subheader {
      font-weight: 400;
      font-size: 1rem;
      color: $color_secondary;

      span {
        font-family: $font_secondary;
      }
    }

    .contact__header {
      font-size: 3.6rem;
      font-weight: 600;
      margin-block: 0.5rem;
    }

    .contact__content {
      color: $color_quaternary;
      text-align: center;

    }

  }

  &__btn {
    @include btn;
    width: 8rem;
    margin-block: 3.5rem;
  }

  &__btn:hover {
    @include btn_hover;
  }

}

@media (max-width: 768px) {
  .contact {
    // border: 1px solid red;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
}

// @media (max-width: 375px) {
@media (max-width: 500px) {
  .contact {


    &__container {

      .subheader {
        font-weight: 400;
        font-size: 1rem;
        color: $color_secondary;

        span {
          font-family: $font_secondary;
        }
      }

      .contact__header {
        text-align: center;
        font-size: 2.3rem;
      }

      .contact__content {
        color: $color_quaternary;
        text-align: center;

      }

    }

    p {
      font-size: 0.938rem;
      line-height: normal;
    }
  }
}