@import '../../sass/index.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  z-index: 1000;
  // z-index: 4;

  transition: all 0.3s ease-in-out;

  padding-block: 1.813rem;

  letter-spacing: 0.05px;

  // border: 1px solid pink;


  &__container {

    display: flex;
    justify-content: space-between;
    align-items: center;

    // border: 1px solid red;

    margin-inline: 3.375rem;
    // padding-inline: 3.375rem;


    .navbar__menu {
      display: flex;
      font-size: 0.8rem;


      span {
        font-family: $font_secondary;
        font-weight: 400;
        color: $color_secondary;
        margin-left: 2rem;
      }

    }

  }

  &__hamburger-menu--btn {
    display: none;
  }

}

// scroll stuff -----------

.scrolling-down {
  transform: translate3d(0, -100%, 0);

}

.scrolling-up {
  padding-block: 0.875rem;

  background-color: $color_quinary;
  backdrop-filter: blur(10px);
  // box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 1rem #1a323634;

}

@media (max-width:600px) {
  .navbar {
    // border: 1px solid green;



    &__container {
      margin-inline: 2rem;


      .navbar__menu {
        border-top: 1px solid $color_primary;
        border-left: 1px solid $color_primary;
        border-top-left-radius: 1rem;
        position: fixed;
        top: 0;
        right: -100vw;
        height: 100vh;
        flex-direction: column;

        padding-top: 7rem;

        background-color: $color_button;
        transition: all 200ms ease-in-out;

        // box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.274);
        box-shadow: 0 3px 1rem #1a323659;


        li {
          margin: 0.75rem 17vw;
          font-size: 0.875rem;
        }

        span {
          margin-left: 0rem;
        }
      }

    }

    &__hamburger-menu--btn {
      display: unset;
      background-color: transparent;
      border: none;
      color: $color_secondary;
      margin-right: -0.8rem;
    }

    .is-open {
      right: 0rem;
    }

  }

}

.background__black--active {
  position: fixed;
  top: 0;
  right: 0;
  width: 200vw;
  height: 100vh;

  z-index: 1;

  background-color: $color_quinary;
  backdrop-filter: blur(7px);
}

.background__black {
  display: none;
}